<div class="row justify-content-center mb-4">
  <div class="col-4">
    <div class="card shadow-sm">
      <div class="card-header bg-danger text-light">
        <h4>Estas seguro que deseas borrar este autor
          {{author.name}}?</h4>
      </div>
      <div class="card-body">
        <form method="post" action="/authors/delete">

          <input type="hidden" name="authorId" value="{{author.id}}" />

          <div class="container-fluid text-center">
            <button
              type="submit"
              class="btn btn-primary shadow-sm"
            >Borrar</button>
            <a href="/authors" class="btn btn-secondary shadow-sm">Atras</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>