<main class="container mt-4">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-4 text-danger">Error 404</h1>
      <p class="lead">Page not found</p>

    </div>
  </div>
</main>